<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coucou</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-color: darkslategrey; color: floralwhite;">

<h1>Welcome to your amazing User Database</h1>

<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/new" type="button" class="btn btn-secondary">Add</a>
    </div>
</div>

<div class="container">
    <table class="table table-striped table-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
